html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: gray;
  font-family: sans-serif;
  margin: 0;
}

nav {
  display: flex;
  height: 100px;
  background: linear-gradient(#481A93, #4C8077);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav > div {
  font-size: 30px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  margin: 0px 10px 0px 10px;
  color: white;
}

nav > button:last-child {
  margin-left: auto;
  margin-right: 10px;
}