html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: gray;
  font-family: sans-serif;
  margin: 0;
}

/* Header Styling */
header {
  display: flex;
  height: 100px;
  background: linear-gradient(#481A93, #4C8077);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header > button:last-child {
  margin-left: auto;
  margin-right: 10px;
}

/* Welcome Styling */
#welcome {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  margin: 0px 30px 0px 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav Styling */
nav {
  display: flex;
  height: 100px;
  background: linear-gradient(#4C8077, #481A93);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav > .link {
  text-decoration: none;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  margin: 0px 20px 0px 20px;
  color: white;
}

/* Title Styling */
#title {
  display: flex;
  height: 120px;
  background-color:#4C8077;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

/* Main Styling */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#4C8077;
}

#profile-pic {
  border-radius: 10%;
}

#ttt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
/* page break */
.page-break {
  height: 100px;
  background: linear-gradient(#481A93, #4C8077);
}

.page-break2 {
  height: 100px;
  background: linear-gradient(#4C8077, #481A93, #4C8077);
}

/********************************************* About Page ***********************************************/
#about {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4C8077;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#about > h1 {
  margin: 0 auto 30px 20px;
}

#about > p {
  margin: 0 50px;
  font-size: 25px;
}

/********************************************* Contact Page ***********************************************/
#contact {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4C8077;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#contact > h1 {
  margin: 0 auto 30px 20px;
}

#git-link {
  text-decoration: none;
  color: white;
}

#contact-list {
  margin: 0 50px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-family:'Times New Roman', Times, serif;
}

/********************************************* Skills Page ***********************************************/
#skill {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4C8077;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#skill > h1 {
  margin: 0 auto 30px 20px;
}

#skill > p {
  margin: 0 50px;
  font-size: 25px;
}

.skill-logo {
  height: 100px;
  margin: 0px 10px;
}

/********************************************* Resume Page ***********************************************/
#resume {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4C8077;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#resume > h1 {
  margin: 0 auto 30px 20px;
}

#resume > p {
  margin: 0 50px;
  font-size: 25px;
}

#resume-link-out {
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  color: white;
}

/********************************************* Work Page *******************************************/
#work {
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  background: #4C8077;
}


#work > h1 {
  margin: 0 auto 30px 20px;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
	width: 100%;
}

@media only screen and (min-width: 768px) {
  #main {
    flex-direction: row;
  }
}