#first-page {
  border-width: 10px;
  border-color: blue;
  padding: 20px;
}

h1 {
  color: blue;
}

main {
  color: red;
  font-size: 100px;
}

section {
  color: black;
  font-size: 50px;
}

p {
  
}